<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label></ion-label>
      <ion-button [routerLink]="['/categoria_agregar']">Nueva categoria</ion-button>
    </ion-list-header>
    <ion-item 
        button 
        *ngFor="let category of categories"
      >
      <ion-label>{{category.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
